
.flotlayout{
    
  height: 100vh;
  overflow-x: hidden;
  
 
}





.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    max-width: 300px;
   
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 5px;
    transition: 0.5s;
  }

  .card button {
    border: none;
    outline: 0;
    margin-bottom: 20px;
    padding: 12px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
    border-radius: 5px;
  }
  .card button:hover {
    opacity: 0.7;
  }